
.aside {
    display: none;
    font-family: "TT Lake Medium", sans-serif;
    color: #1B1C21;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 320px;
    display: none;
    box-shadow: 16px 0px 52px 0px #0E185033;
    flex-direction: column;
    justify-content: flex-start;
    
}

.aside.open {
    display: flex !important;
    background: #fff;
    z-index: 1000;
}


aside {
    // // display: flex;
    // flex-direction: column;
    // justify-content: flex-start; 
    // height: 100vh;
    //  box-shadow: 16px 0px 52px 0px #0E185033;

    .header_inner {
        display: flex;
        align-items: center;
        margin: 19px 0px 51px 24px;
    }

    .burger {
        margin-right: 17px;
    }

    .logo {
        margin-right: 79px;
    }

    .main_inner {
        margin: 0 24px;
    }

    .menu_item {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin-bottom: 32px;

        position: relative;
    }

    .menu_item::before {
        content: "";
        position: absolute;
        display: block;
        top: -5px;
        left: -24px;
        width: 4px;
        height: 32px;
        background: #41F6D7;
    }

    .first_el {
        transition: all .3s ease;
    }

    .first_el:hover {
        opacity: .3;
    }

    .second_el {
        transition: all .3 ease;
    }

    .second_el:hover {
        scale: 1.1;
    }

    .third_el {
        transition: all .3;
    }

    .third_el:hover {
        font-weight: 700;
        color: #717db8;
        text-shadow: 0 5px rgba(223, 179, 179, 0.8),
            0 0 10px rgba(97, 141, 206, 0.5),
            0 0 20px rgba(30, 179, 199, 0.6),
            0 0 30px rgba(193, 219, 79, 0.7);
    }

    .fourth_el {
        transition: all .3s;
    }

    .fourth_el:hover {
        padding: 10px;
        border: 2px solid #a1d2ee;
        box-shadow: 0 0 10px #a1d2ee;
        border-radius: 20px;
    }

    .fifth_el {
        transition: all .3s;
    }

    .fifth_el:hover {
        padding: 10px;
        border: 3px solid;
        color: #fff;
        border-image: linear-gradient(45deg, #ebca71, #c24e4e) 1 fill;
    }

    .sixth_el {
        transition: all .3s;
    }

    .sixth_el:hover {
        padding: 10px;
        border-radius: 6cqh;
        background: radial-gradient(ellipse, rgba(195, 248, 164, 0.8), rgba(142, 68, 173, 0.7));
    }

    .seventh_el {
        transition: all .3s;
    }

    .seventh_el:hover {
        padding: 10px;
        color: aliceblue;
        scale: 1.1;
        border: 3px solid #fff;
        border-radius: 25px 60px;
        background: linear-gradient(45deg, #d57fdd, #833a3a);
    }

    .eighth_el {
        transition: all .3s ease;
    }

    .eighth_el:hover {
        padding: 10px;
        animation: pulse 1s infinite;
        border: 1px solid #fff;
        border-radius: 50%;
        background: azure;
    }

    @keyframes pulse {

        0%,
        100% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }
    }

    footer {
        margin-top: auto;
    }

    .contacts {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }

    .contacts_item {
        margin-right: 16px;
    }

    .contacts_item:last-child {
        margin-right: 0;
    }

    .info_emain {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
    }

    .info_phone {
        font-family: "TT Lake Bold", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.6px;
        margin-top: 12px;
    }

    .language_btn-box {
        margin-top: 40px;
        margin-bottom: 32px;
    }

    .footer_inner {
        margin-left: 24px;
        margin-bottom: 32px;
    }

    .language_btn {
        font-weight: 500;
        margin-right: 7px;
        transition: all .3s;
    }

    .language_btn:hover {
        opacity: .5;
        scale: 1.2;
    }

    .language_btn:last-child {
        margin-right: 0;
    }

    // адаптивная верстка 1120px
@media (min-width: 1440px ) {
    display: flex !important;
    

    .search {
        margin-left: 45px;
    }

    .burger {
        display: none;
    }
}

}