html,
body {
    font-family: "TT Lake", sans-serif;
    background: #F8F8F8;
}


.brands {
    padding-bottom: 30px;

    .heading {
        display: flex;
        align-items: center;
        height: 65px;
        width: 100%;
        background: linear-gradient(270deg, #F8F8F8 20%, #FFFFFF 80%);
        margin-bottom: 30px;
    }

    h1 {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        margin: 16px 16px;
        margin-bottom: 40px;
    }

    .swiper {
        height: 115px;

    }

    .swiper-wrapper {
        max-height: 74px;
    }

    .swiper-wrapper {
        display: flex;
    }


    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 224px;
        min-height: 72px;
        background: #fff;
        border: 1px solid #fff;
        border-radius: 6px;
        margin-right: 24px;
    }

    .swipe-slide:last-child {
        margin-right: 0;
    }

    .swiper-img {
        margin-left: 16px;
    }

    .swiper_btn-img {
        margin-right: 16px;
    }

    .show_all-btn {
        display: none;
        font-family: "TT Lake Medium", sans-serif;
        font-weight: 500;
    }

    /*  адаптивная верстка 768px */

    @media (min-width: 768px) {

        .swiper {
            margin: 0px 16px;
            height: 160px;
        }

        .swiper.expanded {
            height: 350px;
        }


        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 250px);
            gap: 16px;
        }

        .swiper-slide {
            margin-right: 0;
        }

        .show_all-btn {
            margin: 24px 54px;
            display: block;
            position: relative;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: #1B1C21;
        }

        .show_all-btn::before {
            content: "";
            position: absolute;
            top: -1px;
            left: -34px;
            display: block;
            width: 24px;
            height: 24px;
            background: url(../img/arrows.svg) 0 0/ 100% no-repeat;
        }

    }

    /*  адаптивная верстка 1120px */

    @media (min-width: 1120px) {

        .swiper {
            margin: 0px 16px;
            height: 160px;
        }

        .swiper.expanded {
            height: 280px;
        }


        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(4, 250px);
        }

        .show_all-btn {
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: #1B1C21;
        }

        .show_all-btn {
            position: relative;
            margin: 24px 54px;
        }

        .show_all-btn::before {
            content: "";
            position: absolute;
            top: -1px;
            left: -34px;
            display: block;
            width: 24px;
            height: 24px;
            background: url(../img/arrows.svg) 0 0/ 100% no-repeat;
        }
    }

    /*  адаптивная верстка 1440px */

    @media (min-width: 1440px) {

        width: 100%;
        padding-left: 350px;
        display: flex;
        justify-content: flex-start;
    }
}